* {
    margin: 0;
    padding: 0;
}

.header-container {
    height: 100vh;
    width: 100%;
    background-image: url('./images/banner/banner3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

}

.header-item {
    color: white;
    text-align: right;
    width: 400px;
    margin-left: 800px;
    margin-top: 250px;
    align-items: center;
    justify-content: center;


}

.header-title {
    padding-bottom: 20px;
    /* text-align: right; */
}

.header-des {
    padding-bottom: 20px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400px;
    width: 400px;
}

.header-btn {
    padding: 10px 20px;
    color: blue;
    border-radius: 5px;
    border: none;
}

/* Profile secion style */
.profile-container {
    margin: 90px 0 30px 0;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.profile-img {
    width: 400px;
    height: 500px;
}

.profile-list {
    color: var(--dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
}

.profile-title {
    margin-bottom: 24px;
    color: var(--dark-01, #151414);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
}

.profile-des {
    color: var(--dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400px;
    width: 415px;
    margin-bottom: 15px;

}

.profile-items li {
    list-style: none;
}

span {
    margin-left: 5px;
}

/* this is My plan section */
.plan-title {
    margin-top: 150px;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.plan-img {
    width: 70px;
}

.plan {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.always-container {
    background-image: url('./images/watch.png'), url('./images/gradient1.png');
    background-blend-mode: overlay;
    width: 94%;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    /* background-size: cover; */
    /* background-size: auto; */
    background-position: center;
    background-repeat: no-repeat;
}

.alwyas-text {
    padding: 100px 0 100px 70px;
    color: white;

}

.always-title {
    font-size: 40px;
}

.always-btn {
    padding: 10px 20px;
    color: blue;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

/* this is footer */

.footer-container {
    height: 400px;
    width: 100%;
    background-color: #151414;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
    /* padding: 230px 0; */
    display: flex;
    color: white;
}

.footer-title {
    color: white;
}

.footer-des {
    color: #FFF;
    width: 485px;
    font-family: Work Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;

}

.foot-email {
    padding: 10px 5px;
    border: none;
    color: var(--dark-07, #F3F3F3);
    font-family: Work Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    border-radius: 5px;

}

.sub-btn {
    padding: 10px 15px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.sub-title {
    margin-bottom: 20px;
}

.footer-title {
    margin-bottom: 20px;
}

.footer-des {
    margin-bottom: 20px;
}

.footer-icon {

    margin-top: 10px;
    color: white;
}